.wrapper {
  font-family: "Fira Mono", monospace;
  font-size: 16px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}

.item {
  border-right: 1px solid #f1f1f1;
  padding: 8.5px 10px;
}
