.tab {
  padding: 8.5px 10px;
  cursor: pointer;
  background-color: #fcfcfc;
  border-right: 1px solid #f1f1f1;
  overflow: hidden;
  font-size: 16px;
}

.selected {
  background-color: #a9a9ff;
  cursor: default;
  color: white;
}
