.button {
  width: 87px;
  height: 40px;
  border-radius: 5px;
  border: 1px transparent;
  background-color: #a9a9ff;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;

  font-family: "Onest", sans-serif;
  font-size: inherit !important;
}

.button:hover {
  cursor: pointer;
}

.button img {
  width: 12px;
  height: 16px;
  padding-left: 8px;
}

.button p {
  width: 52px;
  height: 28px;
  margin: auto;

  color: white;
}
