.topbar {
  background-color: #6968ff;
  color: white;
  border-radius: 22px 22px 0px 0px;
}

.topbarContent {
  flex-basis: 521px;
}

.saveButton {
  width: 52px;
  height: 51.15px;
  border-radius: 11px;
  background-color: white;
}

.templateButton {
  width: 459px;
  height: 51.15px;
  border-radius: 11px;
  color: black;
  background-color: white;
}
