.topbar {
  color: rgba(102, 102, 102, 1);
  border-radius: 22px 22px 0px 0px;
  box-shadow: none;
}

.topbarContent {
  justify-content: right;
  gap: 10px;
}

.saveButton {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(193, 193, 193, 1);
  background-color: white;
  padding: 5px;
}

.templateButton {
  width: 247px;
  height: 40px;
  border-radius: 5px;
  color: rgba(102, 102, 102, 1);
  background-color: white;
  border: 1px solid rgba(193, 193, 193, 1);
  font-size: 16px;
}
