.clockImg {
  width: 32px;
  height: 28px;
  margin-right: 10px;
}

.affectedRows {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.queryTitle {
  margin-right: auto;
  margin-left: 10px;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
}

.execTime {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(169, 169, 255, 1);
  font-size: 16px;
}

summary {
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  cursor: pointer;
  margin-bottom: 5px;
}

details {
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 10px;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  
  content: url("@/assets/queryTriangleClosed.svg");
}

details[open] > summary::before {
  content: url("@/assets/queryTriangleOpened.svg");
}
